<div class="container">
    <div class="bs-docs-section">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h2>Apartment Demand Calculations (Alpha)</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-lg-12">
        <form class="form-horizontal" action="/aptdemand" method="POST">
              <div class="form-group">
                <label class="control-label" for="size">Unit Size (m<sup>2</sup>)</label>
                <div class=""><input type="text" class="form-control" id="size" name="size" value="<%= @aptarea %>"></div>
              </div>
              <div class="form-group">
                <label class="control-label" for="erp">Electric Range (W)</label>
                <div class="">
                    <input type="text" class="form-control" id="erp" name="erp" value="<%= @erp %>">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="arp">Addition Range (W)</label>
                <input type="text" class="form-control" id="arp" name="arp" value="<%= @arp %>">
              </div>
              <div class="form-group">
                <label class="control-label" for="eshp">Electric Space Heating (W)</label>
                <input type="text" class="form-control" id="eshp" name="eshp" value="<%= @eshp %>">
              </div>
              <div class="form-group">
                <label class="control-label" for="acp">Air Conditioning (W)</label>
                <input type="text" class="form-control" id="acp" name="acp" value="<%= @acp %>">
              </div>
              <div class="form-group">
                 <label class="control-label" for="boolInterlock">Interlock</label>
                 <div class="col-lg-12 center">
                 <label class="radio-inline">
                    <input type="radio" name="interlock" id="interlock1" value="1" <% if @interlock != 0 %>checked="" <% end %>>
                    Interlock
                   </label>
                   <label class="radio-inline">
                    <input type="radio" name="interlock" id="interlock2" value="0" <% if @interlock == 0 %> checked="" <% end %>>
                    No Interlock
                   </label>
                   </div>
                <span class="help-block"><p class="text-info center">Select 'Interlock' if Heating and AC cannot be used simultaneously.</p></span>
              </div>
              <div class="form-group">
                <label class="control-label" for="hwtp">Hot Water Tank (W)</label>
                <input type="text" class="form-control" id="hwtp" name="hwtp" value="<%= @hwtp %>">
              </div>
              <div class="form-group">
                <label class="control-label" for="wmp">Washing Machine (W)</label>
                <input type="text" class="form-control" id="wmp" name="wmp" value="<%= @wmp %>">
              </div>
              <div class="form-group">
                <label class="control-label" for="cdp">Clothes Dryer (W)</label>
                <input type="text" class="form-control" id="cdp" name="cdp" value="<%= @cdp %>">
              </div>
              <h3>Additional Loads Exceeding 1500W</h3>
              <div class="form-group">
                <label class="control-label" for="load1">Load 1 (W)</label>
                <input type="text" class="form-control" id="load1" name="load1" value="<%= @load1 %>">
              </div>
              <div class="form-group">
                <label class="control-label" for="load2">Load 2 (W)</label>
                <input type="text" class="form-control" id="load2" name="load2" value="<%= @load2 %>">
              </div>
              <div class="form-group">
                <label class="control-label" for="load3">Load 3 (W)</label>
                <input type="text" class="form-control" id="load3" name="load3" value="<%= @load3 %>">
              </div>
              <button type="reset" class="btn btn-default" id="reset" name="reset">Reset</button>
              <button type="submit" class="btn btn-primary">Calculate</button>
          </form>
      </div>
      <% if @total_power != nil && @total_power != 0 %>
      <div class="col-lg-6 col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Unit Calculation Results</h3>
          </div>
          <div class="panel-body">
            <% if @size_result != nil && @size_result != 0 %>
            Basic Load for <%= @aptarea %>m<sup>2</sup>: <%= @size_result %> W<br/>
            <% end %>
            <% if @erp_result != nil && @erp_result != 0 %>
            Range: <%= @erp_result %> W<br/>
            <% end %>
            <% if @arp_result != nil && @arp_result != 0 %>
                Additional Range: <%= @arp_result %> W<br/>
            <% end %>
            <% if @eshp_result != nil && @eshp_result != 0 %>
                Space Heating: <%= @eshp_result %> W<br/>
            <% end %>
            <% if @acp_result != nil && @acp_result != 0 %>
                Air Conditioning: <%= @acp_result %> W<br/>
            <% end %>
            <% if @hwtp_result != nil && @hwtp_result != 0 %>
                Hot Water Tank: <%= @hwtp_result %> W<br/>
            <% end %>
            <% if @wmp_result != nil && @wmp_result != 0 %>
                Washing Machine: <%= @wmp_result %> W<br/>
            <% end %>
            <% if @cdp_result != nil && @cdp_result != 0 %>
                Clothes Dryer: <%= @cdp_result %> W<br/>
            <% end %>
            <% if @load1_result != nil && @load1_result != 0 %>
                Load 1: <%= @load1_result %> W<br/>
            <% end %>
            <% if @load2_result != nil && @load2_result != 0 %>
                Load 2: <%= @load2_result %> W<br/>
            <% end %>
            <% if @load3_result != nil && @load3_result != 0 %>
                Load 3: <%= @load3_result %> W<br/>
            <% end %>
            <hr>
            Total Demand Power: <%= @total_power %> W<br/>
            Calculated Ampacity: <%= @calculated_amp %> A<br/>
          </div>
        </div>
      </div>
      <% end %>
      </div>
    </div>
</div>
