<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>CEC Electrician Calculators</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="./css/custom.min.css">
    <link rel="stylesheet" href="./css/ecalc-styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">eCalc</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Calculators<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="house">House Demand</a></li>
                <li><a href="apt">Apartment Demand</a></li>
                <li><a href="voltage_drop">Voltage Drop</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Help</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
    <div class="container">
      <footer>
        <hr>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="#" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="#">RSS</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">GitHub</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Support</a></li>
            </ul>
            <br>
            <p>TERMS OF USE</p>
            <p>TERMS OF USE Info goes here</p>
            <br>
            <p>Calculations are based on the <a href="#">Canadian Electric Code 2012 22nd Edition</a>.</p>
            <p>The Canadian Electric Code rules are copyright of <a href="#">Canadian Standards Association</a>.</p>
            <br>
            <p>Made by <a href="#">Ambrose Siu</a>. To report bugs or make suggestions, please email to: <a href="mailto:ambrosesiu@me.com">ambrosesiu@me.com</a>.</p>
            <p>Built with <a href="https://www.ruby-lang.org/" target="_blank">Ruby</a>, <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a>, and <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.</p>

          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./js/custom.js"></script>
  </body>
</html>
