<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h2>Voltage Drop Calculations (Beta)</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-lg-12">
      <form class="form-horizontal" action="/voltage_drop" method="POST">
        <div class="form-group">
          <label class="control-label" for="size">Voltage</label>
          <div class=""><input type="text" class="form-control" id="voltage" name="voltage" value="<%= @voltage %>"></div>
        </div>
        <div class="form-group">
          <label class="control-label" for="size">Max Voltage drop %</label>
          <div class=""><input type="text" class="form-control" id="maxdrop" name="maxdrop" value="<%= @maxdrop %>"></div>
        </div>
        <div class="form-group">
          <label class="control-label" for="size">Load Current</label>
          <div class=""><input type="text" class="form-control" id="current" name="current" value="<%= @current %>"></div>
        </div>
        <div class="form-group">
          <label for="conductor" class="control-label">Conductor Size</label>
          <select class="form-control" name="conductor" id="conductor">
          <option value="0" <% if @conductor == 0 %> selected="" <% end %>></option>
            <option value="14" <% if @conductor == 14 %> selected="" <% end %>>#14 AWG</option>
            <option value="12" <% if @conductor == 12 %> selected="" <% end %>>#12 AWG</option>
            <option value="10" <% if @conductor == 10 %> selected="" <% end %>>#10 AWG</option>
            <option value="8" <% if @conductor == 8 %> selected="" <% end %>>#8 AWG</option>
            <option value="6" <% if @conductor == 6 %> selected="" <% end %>>#6 AWG</option>
            <option value="4" <% if @conductor == 4 %> selected="" <% end %>>#4 AWG</option>
            <option value="3" <% if @conductor == 3 %> selected="" <% end %>>#3 AWG</option>
            <option value="2" <% if @conductor == 2 %> selected="" <% end %>>#2 AWG</option>
            <option value="1" <% if @conductor == 1 %> selected="" <% end %>>#1 AWG</option>
            <option value="110" <% if @conductor == 110 %> selected="" <% end %>>#1/0 AWG</option>
            <option value="210" <% if @conductor == 210 %> selected="" <% end %>>#2/0 AWG</option>
            <option value="310" <% if @conductor == 310 %> selected="" <% end %>>#3/0 AWG</option>
            <option value="410" <% if @conductor == 410 %> selected="" <% end %>>#4/0 AWG</option>
          </select>
        </div>
        <div class="form-group">
          <label for="conductor_temp" class="control-label">Rated Conductor Temperature</label>
          <select class="form-control" name="conductor_temp" id="conductor_temp">
            <option value="0" <% if @conductor_temp == 0 %> selected="" <% end %>></option>
            <option value="60" <% if @conductor_temp == 60 %> selected="" <% end %>>60 &#8451;</option>
            <option value="75" <% if @conductor_temp == 75 %> selected="" <% end %>>75 &#8451;</option>
            <option value="90" <% if @conductor_temp == 90 %> selected="" <% end %>>90 &#8451;</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
      </form>
    </div>
    <% if @vdrop_result != nil && @vdrop_result != 0  && @vdrop_result != 'too_high' && @vdrop_result != 'too_low' %>
        <div class="col-lg-6 col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Voltage Drop Calculation Results</h3>
            </div>
            <div class="panel-body">
              Max distance: <%= @vdrop_result %><br/>
            </div>
          </div>
        </div>
    <% end %>
    <% if @vdrop_result == 0 || @vdrop_result == 'too_high' || @vdrop_result == 'too_low' %>
        <div class="col-lg-6 col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Error</h3>
            </div>
            <div class="panel-body">
              <ul>
                <% if @voltage == 0 %><li>Voltage value is missing</li><% end %>
                <% if @maxdrop == 0.0 %><li>Voltage drop % is missing</li><% end %>
                <% if @current == 0.0 %><li>Load current is missing</li><% end %>
                <% if @conductor == 0 %><li>Please select conductor size</li><% end %>
                <% if @conductor_temp == 0 %><li>Please select conductor temperature</li><% end %>
                <% if @vdrop_result =='too_high' %><li>Entered load ampacity is too high for conductor</li><% end %>
                <% if @vdrop_result =='too_low' %><li>Please consider using a smaller conductor</li><% end %>
              </ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
