<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">

        <div class="page-header">
          <h1 id="containers">CEC Electrician Calculator</h1>
          <h3>(Currently Under Development)</h3>
          <hr>
          <h2><a href="house">House Demand</a></h2>
          <br>
          <h2><a href="apt">Apartment Demand</a></h2>
          <br>
          <h2><a href="voltage_drop">Voltage Drop</a></h2>
          <br>
          <h2><a href="#">Motors - Coming Soon!</a></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Updates</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-8">
        <div class="bs-component">
          <div class="well well-lg">
            20 December 2015
            <br>
            <ul>
              <li>Added Voltage Drop calculation</li>
            </ul>
            <br>
            15 December 2015
            <br>
            <ul>
              <li>Added EV Charging calculation to House Demand</li>
              <li>Added Panel/CB and Cable Sizing recommendations</li>
            </ul>
            <br>
            9 December 2015
            <br>
            <ul>
              <li>Added House Demand page</li>
              <li>Added Interlock function for Space heating / Air Conditioning</li>
            </ul>
            <br>
            7 December 2015
            <br>
            <ul>
              <li>Added front Welcome Page</li>
            </ul>
            <br>
            6 December 2015
            <br>
            <ul>
              <li>Added calculation functions for Air Conditioning, Addition Range, and Extra Loads</li>
            </ul>
            <br>
            5 December 2015
            <br>
            <ul>
              <li>Installed Sinatra</li>
              <li>Added Bootstrap layout and apartment calculation page</li>
              <li>Added Apartment Demand page</li>
              <li>Added Basic Calculation functions for Unit size, Range, and Space Heating</li>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>